.popup-wrapper {
    .dropdown,
    .modal {
        background: #fff;
        padding: var(--gap);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-large);

        transition: .3s opacity;
    }
}