.radio-messages {
    .message {
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);

        &.error {
            color: white;
            background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
        }

        &.info {
            color: white;
            background-image: linear-gradient(120deg, #4facfe 0%, #00f2fe 100%);
        }

        &.success {
            color: white;
            background-image: linear-gradient(120deg, #43e97b 0%, #38f9d7 100%);
        }
    }
}