html, body {
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    color: var(--color);
    text-rendering: optimizeLegibility;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.presenter-button {
    --size: 20px;

    width: var(--size);
    height: var(--size);
    border: 1px solid;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;

    svg {
        max-width: 100%;
        max-height: 100%;
    }

    &:after {
        position:absolute;
        font-family: monospace;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.color-presenter {
        &:after {
            content: "c";
        }
    }

    &.gradient-presenter {
        &:after {
            content: "g";
        }
    }

    &.pattern-presenter {
        &:after {
            content: "p";
        }
    }

    &.unsplash-presenter {
        background-image: url('/images/unsplash.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.giphy-presenter {
        background-image: url('/images/giphy.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
    }

    &.coverr-presenter {
        background-image: url('/images/coverr.svg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: auto 18px;
        background-color: #212529;
    }
}

.fullscreen-toggle-button {
    position: absolute;
    top: calc(var(--gap) * 2);
    right: calc(var(--gap) * 2);
    z-index: 100;
    width: calc(var(--gap) * 4);
    height: calc(var(--gap) * 4);
    border-radius: calc(var(--gap) * 4);
    // border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    svg {
        stroke-width: 4;
    }

    &.in-fullscreen {
        opacity: 0.02;

        &:hover {
            opacity: 1;
        }
    }
}