:root {
    --background-color: transparent;
    --font-family: 'San Francisco', Helvetica, Tahoma, Arial, sans-serif;

    --color: #222;

    --font-weight: 300;
    --line-height: 1.5;

    --gap: 8px;

    --border-radius: 5px;
    --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.02);
    --shadow-smallest: 0px 4px 8px rgba(0,0,0,0.12);
    --shadow-small: 0 5px 10px rgba(0,0,0,0.12);
    --shadow-medium: 0 8px 30px rgba(0,0,0,0.12);
    --shadow-large: 0 30px 60px rgba(0,0,0,0.12);
    --shadow-hover: 0 30px 60px rgba(0,0,0,0.12);
    --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,0.12);
    --portal-opacity: 0.25;
}