.auth-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .line {
        margin-bottom: var(--gap);
    }

    label {
        display: block;
    }

    input {
        width: 200px;
    }

    .login-invitation,
    .register-invitation {
        font-size: 0.8rem;
        margin-top: 40px;
    }

    .submit {
        width: 200px;
    }
}

.auth-center-wrapper {
    background-color: rgba(255,255,255,0.5);
    padding: calc(var(--gap) * 2);
    transition: 0.3s;
}