.block {
    grid-column-start: var(--grid-column-start);
    grid-column-end: var(--grid-column-end);
    grid-row-start: var(--grid-row-start);
    grid-row-end: var(--grid-row-end);
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: var(--background-size);
    background-position: var(--background-position);
    padding: var(--padding);
    z-index: var(--z-index);

    position: relative;
    box-sizing: border-box;

    &--edit {
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            pointer-events: none;
            background: rgba(0,0,0,0.3);
            padding: var(--gap);
            z-index: 99;
            color: white;
        }

        &.block--img {
            &:after {
                content: "image";
            }
        }

        &.block--video {
            &:after {
                content: "video";
            }
        }

        &.block--text {
            &:after {
                content: "text";
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: var(--object-fit);
        object-position: var(--object-position);
        user-select: none;
        touch-action: none;
        pointer-events: none;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: var(--object-fit);
        object-position: var(--object-position);
    }

    .content {
        height: 100%;
        width: 100%;
    }

    &--video {
        canvas {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    &--text {
        .content {
            font-family: var(--font-family);
            text-align: var(--text-align);
            font-size: var(--font-size);
            color: var(--color);
            letter-spacing: var(--letter-spacing);
            justify-content: var(--justify-content);
            writing-mode: var(--writing-mode);
            text-orientation: var(--text-orientation);
            display: flex;
            flex-direction: column;
        }

        h1,h2,h3,h4,h5,h6, p {
            margin: 0;
        }

        * + {
            h1,h2,h3,h4,h5,h6, p {
              margin-top: 1em;
            }
        }

        textarea {
            font-family: inherit;
            text-align: inherit;
            font-size: inherit;
            color: inherit;
            letter-spacing: inherit;
            width: 100%;
            height: 100%;
            resize: none;
            background: rgba(255,255,255,0.1);
            padding: 0;
            margin: 0;
            border: 0;
        }
    }

    .drag-handler {
        background-image: radial-gradient(white, white 50%, deepskyblue 50%);
        height: 14px;
        width: 14px;
        border-radius: 14px;
        position: absolute;
        transform: translate(-50%, -50%);
        display: none;

        &.drag-top-right {
            top: 0;
            left: 100%;
            cursor: nesw-resize;
        }

        &.drag-bottom-right {
            top: 100%;
            left: 100%;
            cursor: nwse-resize;
        }

        &.drag-bottom-left {
            top: 100%;
            left: 0;
            cursor: nesw-resize;
        }

        &.drag-top-left {
            top: 0;
            left: 0;
            cursor: nwse-resize; /*resizer cursor*/
        }
    }

    &--focused {
        touch-action: none;
        user-select: none;
        box-shadow: 0 0 0 1px deepskyblue;

        .drag-handler {
            display: block;
        }
    }
}