.loader-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom:0;
    background: rgba(255,255,255,.3);
}

.loader {
    --size: 20px;

    width: var(--size);
    height: var(--size);

    border: 2px solid;
    border-bottom-color: transparent;
    border-radius: var(--size);

    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 1s;

    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}