.control-panel {
    // overflow: auto;
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    .add-block-wrapper {
        display: grid;
        grid-auto-rows: calc(var(--gap) * 8);
        grid-gap: var(--gap);
        align-items: stretch;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            svg {
                stroke-width: 1;
            }

            .title {
                display: inline-block;
                margin-top: 5px;
            }
        }
    }

    .slides-navigation,
    .navigation,
    .title-with-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .font-settings-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        select[name="fontFamily"] {
            width: 100px;
        }

        select[name="fontSize"] {
            width: 60px;
        }
    }

    .slides-navigation-wrapper {
        margin-top: auto;
        margin-bottom: 0;
    }
}