.cp-block {
    padding: var(--gap) 0;
    border: solid #e5e5e5;
    border-width: 1px 0;
    margin-bottom: -1px;
    font-size: 11px;

    &.compact {
        display: flex;
        justify-content: space-between;

        .cp-block__content {
            width: 32%;

            input {
                width: auto;
                box-sizing: border-box;
                min-width: 0;
            }
        }
    }

    &__title {
        display: flex;
        margin: 0;
        padding: 0 calc(var(--gap) * 2);

        align-items: center;
        height: calc(var(--gap) * 4);

        .text {

        }

        .expand-trigger {
            padding: 5px;
        }
    }

    &__content {
        display: grid;
        padding: 0 calc(var(--gap) * 2);
        grid-auto-rows: calc(var(--gap) * 4);
        align-items: center;

        &.height-2 {
            grid-auto-rows: calc(var(--gap) * 4 * 2);
        }

        &.height-3 {
            grid-auto-rows: calc(var(--gap) * 4 * 3);
        }

        &.height-4 {
            grid-auto-rows: calc(var(--gap) * 4 * 4);
        }
    }

    &__extended-content {
        .cp-block__title .expand-trigger {
            display: none;
        }
    }
}