.modal {
    position: fixed;
    max-height: calc(100vh - (2 * (3 * var(--gap))));
    max-width: 600px;
    width: calc(100% - (2 * var(--gap)));
    top: calc(3 * var(--gap));
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 99;
    overflow: auto;

    padding: calc(2 * var(--gap));
}