.popup-wrapper {
    position: relative;
    display: inline-block;

    .cp-block__content & {
        justify-self: flex-start;
    }

    .dropdown {
        position: absolute;
        z-index: 10;
        overflow: auto;
    }

    &.x-left {
        .dropdown { left: 0; }
    }
    &.x-center {
        .dropdown { left: 50%; transform: translateX(-50%); }
    }
    &.x-right {
        .dropdown { left: 100%; }
    }

    &.y-top {
        .dropdown { top: 0; }
    }
    &.y-center {
        .dropdown { top: 50%; transform: translateY(-50%); }
    }
    &.y-bottom {
        .dropdown { top: 100%; }
    }

    &--opened {
        .dropdown {
            display: block;
        }
    }

    &--closed {
        .dropdown {
            display: none;
        }
    }
}