.projects-list-page {
    --cell-size: 200px;

    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23979797' %3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: auto;

    .auth-links-wrapper {
        position: absolute;
        top: calc(var(--gap) * 2);
        right: calc(var(--gap) * 2);
    }

    .title {
        margin: calc(var(--gap) * 3);

        button {
            color: inherit;
        }
    }

    .preview-link {
        color: var(--color);

        &:before {
            content: attr(title);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .preview-slide {
        user-select: none;
        pointer-events: none;

        width: 250%;
        transform: scale(0.4);
        transform-origin: left top;
    }

    .projects-list {
        margin: calc(var(--gap) * 3);
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, calc(var(--cell-size) * 1.5)));
        grid-gap: calc(var(--gap) * 2);
        grid-auto-rows: var(--cell-size);

        .item {
            display: block;
            position: relative;
            background-color: white;
            box-shadow: 0 0 0 2px currentColor;
            overflow: hidden;
            height: var(--cell-size);

            &.empty {
                width: max-content;
            }

            a {
                text-decoration: none;
            }
        }

        .edit-project,
        .delete-project {
            position: absolute;
            top: var(--gap);
            right: var(--gap);
            color: #fff;
            background-color: deepskyblue;
            height: calc(var(--gap) * 3);
            width: calc(var(--gap) * 3);
            border-radius: calc(var(--gap) * 3);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;

            &:hover {
                background-color: #fff;
                color: deepskyblue;
            }
        }

        .delete-project {
            background-color: red;
            left: var(--gap);
            right: auto;

            &:hover {
                color: red;
            }
        }
    }
}