.slides {
    padding: 0;
    margin: 0;

    height: 100vh;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(var(--grid-size), calc(100% / var(--grid-size)));
    grid-template-columns: repeat(var(--grid-size), calc(100% / var(--grid-size)));

    background-image: var(--background-image);
    background-color: var(--background-color);
    background-size: var(--background-size);
    background-position: var(--background-position);

    &.preload {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    &.preview {
        position: absolute;
        width: 1024px;
        height: 768px;
        left: -99999px;
        top: -99999px;
    }

    &--edit {
        width: auto;
    }

    .slide-grid {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-image: linear-gradient(transparent calc(var(--cell-height) - 1px), #3e3 calc(var(--cell-height) - 1px), #3e3 var(--cell-height), transparent var(--cell-height)),
                        linear-gradient(90deg, transparent calc(var(--cell-width) - 1px), #3e3 calc(var(--cell-width) - 1px), #3e3 var(--cell-width), transparent var(--cell-width));

        background-size: var(--cell-width) var(--cell-height);
        pointer-events: none;
    }
}