.tabs-titles-wrapper {
    display: flex;
    justify-content: flex-start;
}

.tabs-wrapper {
    .title {
        display: block;
        border: 0;
        padding: 0;
        background: none;

        &.active {
            color: deepskyblue;
        }
    }
}