.update-content-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-columns: 230px auto;

    // .add-slide,
    .add-slide-popup-wrapper,
    .remove-slide-wrapper {
        position: absolute;
        z-index: 99;
        bottom: calc(var(--gap) * 3);
        right: calc(var(--gap) * 3);
        height: calc(var(--gap) * 4);
        width: calc(var(--gap) * 4);

        .add-slide,
        .remove-slide {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,0.2);

            &:hover {
                color: white;
                background: rgba(0,0,0,0.6);
            }
        }
    }

    .remove-slide-wrapper {
        top: calc(var(--gap) * 3);
        height: calc(var(--gap) * 3);
        width: calc(var(--gap) * 3);
    }
}