<div class="content" style={{this.style}}>
    {{#if (eq @mode 'edit')}}
        <textarea
            name="text"
            {{did-insert this.resize}}
            {{on 'input' @updateContentValue}}
            {{on 'input' this.resize}}
            {{did-update this.resize @data.fontSize}}
        >{{@data.text}}</textarea>
    {{else}}
        {{{@data.htmlText}}}
    {{/if}}

    {{yield}}
</div>