{{#if this.isCoverr }}
    <video
        style={{this.style}}
        crossorigin="anonymous"
        playsinline="on"
        poster={{this.thumbnail}}
        autoplay
        loop
        muted
        preload="auto"
        {{did-update this.reloadSource this.mp4}}
    >
        <source src="{{this.m3U8}}" type="application/x-mpegURL" />
        <source src="{{this.mp4}}" type="video/mp4" />
    </video>
{{else}}
    {{#if @data.src}}
        <video
            style={{this.style}}
            crossorigin="anonymous"
            playsinline="on"
            src="{{@data.src}}"
            autoplay
            loop
            muted
            preload="auto"
            {{did-update this.reloadSource @data.src}}
        />
    {{/if}}
{{/if}}

{{yield}}