<CpBlock @expandable={{true}} as |block|>
    <block.title>
        {{t 'slide.settings.background.title'}}
    </block.title>

    <block.content>
        <div class="background-pickers-wrapper">
            <Popup class='x-left y-bottom' as |popup|>
                <popup.Trigger title="{{t 'settings.background.color'}}">
                    <div
                        style={{{safe (concat 'background-color:' @model.backgroundColor)}}}
                        class="presenter-button color-presenter"></div>
                </popup.Trigger>

                <popup.Content>
                    <Picker::ColorMini
                        @name="backgroundColor"
                        @data={{@model}} />
                </popup.Content>
            </Popup>

            <Popup class='x-left y-bottom' as |popup|>
                <popup.Trigger title="{{t 'settings.background.gradient'}}">
                    <div
                        class="presenter-button gradient-presenter"
                        style={{{safe (concat 'background:' @model.backgroundGradient.gradient)}}}></div>
                </popup.Trigger>

                <popup.Modal>
                    <Picker::Gradient
                        @contentEl={{popup.contentEl}}
                        @name="backgroundGradient"
                        @data={{@model}} />
                </popup.Modal>
            </Popup>

            <Popup class='x-left y-bottom' as |popup|>
                <popup.Trigger title="{{t 'settings.background.pattern.title'}}">
                    <div
                        class="presenter-button pattern-presenter"
                        style={{{safe (concat 'background-image:' @model.backgroundPattern.value)}}}></div>
                </popup.Trigger>

                <popup.Modal>
                    <Picker::Pattern
                        @contentEl={{popup.contentEl}}
                        @name="backgroundPattern"
                        @data={{@model}} />
                </popup.Modal>
            </Popup>

            <Popup class='x-left y-bottom' as |popup|>
                <popup.Trigger title="{{t 'settings.background.unsplash'}}">
                    <div
                        class="presenter-button unsplash-presenter"
                        style={{{if @model.backgroundUnsplash.urls.thumb
                            (safe (concat 'background-image: url(' @model.backgroundUnsplash.urls.thumb ')'))}}}></div>
                </popup.Trigger>

                <popup.Modal>
                    <Picker::Unsplash
                        @contentEl={{popup.contentEl}}
                        @name="backgroundUnsplash"
                        @data={{@model}} />
                </popup.Modal>
            </Popup>
        </div>
    </block.content>
    <block.extended>
        <block.title>
            {{t 'background-size.title'}}
        </block.title>
        <block.content>
            <Picker::BackgroundSize
                @name="backgroundSize"
                @data={{@model}} />

        </block.content>

        {{#if @model.backgroundUnsplash}}
        <block.title>
            {{t 'background-position.title'}}
        </block.title>

        <block.content class="height-3">
            <Picker::BackgroundPosition
                @name="backgroundPosition"
                @data={{@model}} />
        </block.content>
        {{/if}}
    </block.extended>
</CpBlock>

{{yield}}