<div
    data-id="{{@data.id}}"
    class="block block--{{@data.content.contentType}} {{if @mode 'block--edit'}} {{if this.focused 'block--focused'}}"
    style="{{this.blockStyle}}"
    {{on 'focus' this.handleFocus capture=true}}
    {{on 'blur' this.handleBlur capture=true}}
    {{did-insert this.saveRef}}
    {{will-destroy this.unbindHammerResize}}
    tabindex="0"
>
    {{#if (eq @mode 'edit')}}
        <div
            class="drag-handler drag-top-right"
            {{did-insert this.bindHammerResize}}></div>
        <div
            class="drag-handler drag-bottom-right"
            {{did-insert this.bindHammerResize}}></div>
        <div
            class="drag-handler drag-bottom-left"
            {{did-insert this.bindHammerResize}}></div>
        <div
            class="drag-handler drag-top-left"
            {{did-insert this.bindHammerResize}}></div>
    {{/if}}

    {{#if (eq @data.content.contentType 'text')}}
        <Block::Text
            @updateContentValue={{this.updateContentValue}}
            @data={{@data.content}}
            @mode={{@mode}} />
    {{/if}}

    {{#if (eq @data.content.contentType 'img')}}
        <Block::Img
            @updateContentValue={{this.updateContentValue}}
            @data={{@data.content}}
            @mode={{@mode}} />
    {{/if}}

    {{#if (eq @data.content.contentType 'video')}}
        <Block::Video
            @updateContentValue={{this.updateContentValue}}
            @data={{@data.content}}
            @mode={{@mode}} />
    {{/if}}

    {{yield}}
</div>