<aside class="control-panel">
    {{!-- {{log @projectModel.isSaving}} --}}
    {{#unless this.focusedBlockModel}}
        <CpBlock as |block|>
            <block.content>
                <div class="navigation">
                    <LinkTo
                        @route="index.index"
                        title="{{t 'project.navigation.back-to-list'}}">
                        <SvgIcon @name="arrow-left" @size="12" />
                    </LinkTo>

                    <LinkTo
                        @route="index.project.show"
                        @model={{@projectModel}}
                        title="{{t 'project.navigation.show'}}">
                        <SvgIcon @name="eye" @size="12" />
                    </LinkTo>
                </div>
            </block.content>
        </CpBlock>

        <form
            {{on 'input' (fn @updateModelValue @projectModel)}}
            {{on 'submit' (fn @updateModelValue @projectModel)}}>

            <CpBlock as |block|>
                <block.title>
                    {{t 'project.update.settings.title'}}
                </block.title>

                <block.content>
                    <input
                        name="title"
                        type="text"
                        value={{@projectModel.title}}/>
                </block.content>
            </CpBlock>
        </form>

        <form
            {{on 'input' (fn @updateModelValue @activeSlideModel)}}
            {{on 'submit' this.absorb}}>

            <CpBlock class="compact" as |block|>
                <block.title>
                    {{t 'slide.settings.grid-size.title'}}
                </block.title>

                <block.content>
                    <input
                        name="gridSize"
                        value={{@activeSlideModel.gridSize}}
                        type="number"
                        min="4"
                        max="16"
                        step="2" />
                </block.content>
            </CpBlock>

            <BackgroundPickersGroup @model={{@activeSlideModel}} />

            <CpBlock as |block|>
                <block.title>
                    {{t 'slide.settings.change-animation.title'}}
                </block.title>

                <block.content>
                    <Picker::SlideChangeAnimation
                        @name="changeAnimation"
                        @data={{@activeSlideModel}} />
                </block.content>
            </CpBlock>

        </form>

        <CpBlock as |block|>
            <block.title>
                {{t 'slide.settings.add-block.title'}}
            </block.title>

            <block.content class="add-block-wrapper">
                <button {{on 'click' (fn this.addBlock 'text')}}>
                    <SvgIcon @name="type" @size="32">
                        <span class="title">
                            {{t 'project.update.add-block-text'}}
                        </span>
                    </SvgIcon>
                </button>

                <button {{on 'click' (fn this.addBlock 'img')}}>
                    <SvgIcon @name="image" @size="32">
                        <span class="title">
                            {{t 'project.update.add-block-img'}}
                        </span>
                    </SvgIcon>
                </button>

                <button {{on 'click' (fn this.addBlock 'video')}}>
                    <SvgIcon @name="video" @size="32">
                        <span class="title">
                            {{t 'project.update.add-block-video'}}
                        </span>
                    </SvgIcon>
                </button>
            </block.content>
        </CpBlock>

    {{else}}
        <CpBlock as |block|>
            <block.content>
                <h3 class="title-with-button">
                    <span class="text">
                        {{t 'block.common-settings'}}
                    </span>
                    <button
                        {{on 'click' (fn this.removeBlock this.focusedBlockModel)}}
                        title="{{t 'block.settings.remove'}}">
                        <SvgIcon @name="trash-2" @size="12"/>
                    </button>
                </h3>

            </block.content>
        </CpBlock>
        <div
            tabindex="0"
            {{on 'focus' (fn this.blockFocus.handleBlockFocus this.focusedBlockModel) capture=true}}
            {{on 'blur' this.blockFocus.handleBlockBlur capture=true}}
        >
            <form
                {{on 'change' (fn @updateModelValue this.focusedBlockModel)}}
                {{on 'submit' this.absorb}}>

                <BackgroundPickersGroup @model={{this.focusedBlockModel}} />

                <CpBlock class="compact" as |block|>
                    <block.title>
                        {{t 'block.settings.padding'}}
                    </block.title>

                    <block.content>
                        <input
                            min="0"
                            type="number"
                            step="1"
                            name="padding"
                            value={{this.focusedBlockModel.padding}} />
                    </block.content>
                </CpBlock>

                <CpBlock class="compact" as |block|>
                    <block.title>
                        {{t 'block.settings.z-index'}}
                    </block.title>

                    <block.content>
                        <input
                            min="0"
                            type="number"
                            step="1"
                            name="zIndex"
                            value={{this.focusedBlockModel.zIndex}} />
                    </block.content>
                </CpBlock>
            </form>

            <form
                {{on 'change' (fn @updateModelValue this.focusedBlockContentModel)}}
                {{on 'submit' this.absorb}}>

                {{#if (eq this.focusedBlockContentModel.contentType 'text')}}


                    <CpBlock @expandable={{true}} as |block|>
                        <block.title>
                            {{t 'text-block.settings.font.title'}}
                        </block.title>

                        <block.content>
                            <div class="font-settings-wrapper">
                                <Popup class='x-right y-center' as |popup|>
                                    <popup.Trigger title="{{t 'settings.background.color'}}">
                                        <div
                                            style={{{safe (concat 'background-color:' this.focusedBlockContentModel.color)}}}
                                            class="presenter-button color-presenter"></div>
                                    </popup.Trigger>

                                    <popup.Content>
                                        <Picker::ColorMini
                                            @name="color"
                                            @data={{this.focusedBlockContentModel}} />
                                    </popup.Content>
                                </Popup>

                                <Picker::Font
                                    @name='fontFamily'
                                    @data={{this.focusedBlockContentModel}} />

                                <Picker::FontSize
                                    @name='fontSize'
                                    @data={{this.focusedBlockContentModel}} />
                            </div>
                        </block.content>

                        <block.extended>
                            <block.title>
                                {{t 'text-block.settings.align.title'}}
                            </block.title>

                            <block.content>
                                <Picker::TextAlign
                                    @name="textAlign"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>

                            <block.title>
                                {{t 'text-block.settings.align-items.title'}}
                            </block.title>

                            <block.content>
                                <Picker::VerticalAlign
                                    @name="alignItems"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>

                            <block.title>
                                {{t 'text-block.settings.letter-spacing.title'}}
                            </block.title>

                            <block.content>
                                <input
                                    type="number"
                                    name="letterSpacing"
                                    value={{this.focusedBlockContentModel.letterSpacing}}
                                    step="0.1"
                                    min="-5"
                                    max="5" />
                            </block.content>

                            <block.title>
                                {{t 'text-block.settings.writing-mode.title'}}
                            </block.title>

                            <block.content>
                                <Picker::WritingMode
                                    @name="writingMode"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>

                            {{#unless (eq this.focusedBlockContentModel.writingMode 'horizontal-tb')}}
                            <block.title>
                                {{t 'text-block.settings.text-orientation.title'}}
                            </block.title>

                            <block.content>
                                <Picker::TextOrientation
                                    @name="textOrientation"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>
                            {{/unless}}

                        </block.extended>
                    </CpBlock>
                {{/if}}

                {{#if (eq this.focusedBlockContentModel.contentType 'img')}}
                    <CpBlock @expandable={{true}} as |block|>
                        <block.title>
                            {{t 'img-block.settings.source.title'}}
                        </block.title>

                        <block.content>
                            <div class="image-source-pickers-wrapper">
                                <Popup class='x-right y-center' as |popup|>
                                    <popup.Trigger title="{{t 'link.title'}}">
                                        <div class="presenter-button">
                                            <SvgIcon @name="link" @size="18"/>
                                        </div>
                                    </popup.Trigger>

                                    <popup.Content>
                                        <input name="src" value="{{this.focusedBlockContentModel.src}}" />
                                    </popup.Content>
                                </Popup>

                                {{!-- unsplash --}}
                                <Popup class='x-right y-center' as |popup|>
                                    <popup.Trigger title="{{t 'unsplash.title'}}">
                                        <div class="presenter-button unsplash-presenter"></div>
                                    </popup.Trigger>

                                    <popup.Modal>
                                        <Picker::Unsplash
                                            @contentEl={{popup.contentEl}}
                                            @name="unsplash"
                                            @data={{this.focusedBlockContentModel}} />
                                    </popup.Modal>
                                </Popup>

                                {{!-- giphy --}}
                                <Popup class='x-right y-center' as |popup|>
                                    <popup.Trigger title="{{t 'giphy.title'}}">
                                        <div class="presenter-button giphy-presenter"></div>
                                    </popup.Trigger>

                                    <popup.Modal>
                                        <Picker::Giphy
                                            @contentEl={{popup.contentEl}}
                                            @name="giphy"
                                            @data={{this.focusedBlockContentModel}} />
                                    </popup.Modal>
                                </Popup>
                            </div>
                        </block.content>
                        <block.extended>
                            <block.title>
                                {{t 'object-position.title'}}
                            </block.title>

                            <block.content class="height-3">
                                <Picker::BackgroundPosition
                                    @name="objectPosition"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>

                            <block.title>
                                {{t 'object-fit.title'}}
                            </block.title>

                            <block.content>
                                <Picker::ObjectFit
                                    @name="objectFit"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>
                        </block.extended>
                    </CpBlock>
                {{/if}}

                {{#if (eq this.focusedBlockContentModel.contentType 'video')}}
                    <CpBlock @expandable={{true}} as |block|>
                        <block.title>
                            {{t 'video-block.settings.source.title'}}
                        </block.title>

                        <block.content>
                            <div class="video-source-pickers-wrapper">
                                <Popup class='x-right y-center' as |popup|>
                                    <popup.Trigger title="{{t 'link.title'}}">
                                        <div class="presenter-button">
                                            <SvgIcon @name="link" @size="18"/>
                                        </div>
                                    </popup.Trigger>

                                    <popup.Content>
                                        <input name="src" value="{{this.focusedBlockContentModel.src}}" />
                                    </popup.Content>
                                </Popup>

                                <Popup class='x-right y-center' as |popup|>
                                    <popup.Trigger title="{{t 'coverr.title'}}">
                                        <div class="presenter-button coverr-presenter"></div>
                                    </popup.Trigger>

                                    <popup.Modal>
                                        <Picker::Coverr
                                            @name="coverr"
                                            @data={{this.focusedBlockContentModel}} />
                                    </popup.Modal>
                                </Popup>
                            </div>
                        </block.content>
                        <block.extended>
                            <block.title>
                                {{t 'object-fit.title'}}
                            </block.title>

                            <block.content>
                                <Picker::ObjectFit
                                    @name="objectFit"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>


                            <block.title>
                                {{t 'object-position.title'}}
                            </block.title>

                            <block.content class="height-3">
                                <Picker::BackgroundPosition
                                    @name="objectPosition"
                                    @data={{this.focusedBlockContentModel}} />
                            </block.content>
                        </block.extended>
                    </CpBlock>
                {{/if}}
            </form>
        </div>
    {{/unless}}

    {{yield}}

    <CpBlock class="slides-navigation-wrapper" as |block|>
        <block.content>
            <div class="slides-navigation">
                <button
                    title="{{t 'project.navigation.back'}}"
                    {{on 'click' @goToPrevSlide}}
                    class="{{unless this.canMoveBack 'disabled'}}" >
                    <SvgIcon @name="arrow-left" @size="12" />
                </button>
                {{@activeSlide}} / {{this.slidesLength}}
                <button
                    title="{{t 'project.navigation.forward'}}"
                    {{on 'click' @goToNextSlide}}
                    class="{{unless this.canMoveForward 'disabled'}}">
                    <SvgIcon @name="arrow-right" @size="12" />
                </button>
            </div>
        </block.content>
    </CpBlock>

</aside>