<section class="cp-block {{if @expandable '--expandable'}} {{if this.expanded '--expanded'}}" ...attributes>
    {{yield (hash
                title=(component this.cpBlockTitle toggleExpanded=this.toggleExpanded expanded=this.expanded expandable=@expandable)
                content=(component this.cpBlockContent)
                extended=(component this.cpBlockExtendedContent)
        )}}
</section>