{{yield (hash
            wrapper=(component this.wrapperComponent didInsertWrapper=this.didInsertWrapper)
            trigger=(component this.triggerComponent didInsertTrigger=this.didInsertTrigger destroyIntersectionObserver=this.destroyIntersectionObserver)
        )}}