<div class="slide {{if (eq @mode 'edit') 'slide--edit'}}" style="{{this.slideStyle}}" ...attributes>
    {{#if (eq @mode 'edit')}}
        <div class="slide-grid"></div>
    {{/if}}

    {{#each @data.blocks as |block|}}
        <Block
            @data={{block}}
            @mode={{@mode}}
            @cellWidth={{@cellWidth}}
            @cellHeight={{@cellHeight}}
            @gridSize={{@data.gridSize}} />
    {{/each}}

    {{yield}}
</div>