<div class="slides"
    tabindex="0"
    style={{this.cellStyleVariables}}
    {{on 'focus' this.handleFocus capture=true passive=true}}
    {{on 'blur' this.handleBlur capture=true passive=true}}
    {{did-insert this.createResizeObserver}}
    {{will-destroy this.removeResizeObserver}}
    {{did-insert this.addListeners}}
    {{will-destroy this.removeListeners}}>

    {{yield (hash cellWidth=this.cellWidth cellHeight=this.cellHeight)}}
</div>