<svg
    class="svg-icon"
    name={{@name}}
    width={{@size}}
    height={{@size}}
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <use xlink:href="{{get-path (concat 'feather-icons/dist/feather-sprite.svg#' @name)}}"/>
</svg>

{{yield}}