<h4 class="cp-block__title" ...attributes>
    <span class="text">
        {{yield}}
    </span>

    {{#if @expandable}}
    <button {{on 'click' @toggleExpanded}} class="expand-trigger">
        {{#if @expanded}}
            <SvgIcon @name="chevron-up" @size="10" />
        {{else}}
            <SvgIcon @name="chevron-down" @size="10" />
        {{/if}}
    </button>
    {{/if}}
</h4>