<SlidesWrapper
    @goToNextSlide={{this.goToNextSlide}}
    @goToPrevSlide={{this.goToPrevSlide}}>
    <AnimatedContainer>
        {{#animated-value (hash model=this.activeSlideModel index=this.activeSlide) rules=this.rules duration=200 as |v|}}
            <Slide @data={{v.model}} />
        {{/animated-value}}
    </AnimatedContainer>

    {{#if this.nextSlideModel}}
        <Slide @data={{this.nextSlideModel}} class="preload" />
    {{/if}}

</SlidesWrapper>

{{outlet}}

<button class="fullscreen-toggle-button {{if this.fullscreen.enabled 'in-fullscreen'}}" {{on 'click' this.fullscreen.toggle}} title="{{t 'global.toggle-fullscreen'}}">
    {{#if this.fullscreen.enabled}}
        <SvgIcon @name="minimize" @size="14" />
    {{else}}
        <SvgIcon @name="maximize" @size="14" />
    {{/if}}
</button>