<section class="update-content-wrapper">
    <ControlPanel
        @projectModel={{this.model}}
        @activeSlideModel={{this.activeSlideModel}}
        @updateModelValue={{this.updateModelValue}}
        @activeSlide={{this.activeSlide}}
        @goToNextSlide={{this.goToNextSlide}}
        @goToPrevSlide={{this.goToPrevSlide}}
    />

    <SlidesWrapper
        @mode="edit"
        @goToNextSlide={{this.goToNextSlide}}
        @goToPrevSlide={{this.goToPrevSlide}}
        @activeSlideModel={{this.activeSlideModel}} as |slideWrapper|>

        <Slide
            @data={{this.activeSlideModel}}
            @mode="edit"
            @handleBlockFocus={{this.handleBlockFocus}}
            @handleBlockBlur={{this.handleBlockBlur}}
            @cellWidth={{slideWrapper.cellWidth}}
            @cellHeight={{slideWrapper.cellHeight}}
        />
    </SlidesWrapper>

    <div class="remove-slide-wrapper">
        <button {{on 'click' this.removeSlide}} title="{{t 'project.update.remove-slide'}}" class="remove-slide">
            <SvgIcon @name="trash-2" @size="14"/>
        </button>
    </div>


    {{#if this.isDevMode}}
    <div class="save-template-wrapper">
        <button {{on 'click' this.saveSlideAsTemplate}} title="{{t 'project.update.save-slide-as-template'}}" class="save-slide">
            <SvgIcon @name="save" @size="14"/>
        </button>
    </div>
    {{/if}}


    <Popup class='x-left y-bottom add-slide-popup-wrapper' as |popup|>
        <popup.Trigger title="{{t 'project.update.add-slide'}}" class="add-slide">
            <SvgIcon @name="plus" @size="24"/>
        </popup.Trigger>

        <popup.Modal>
            <Picker::Slides
                @isDevMode={{this.isDevMode}}
                @closePopup={{popup.closePopup}}
                @removeTemplate={{this.removeTemplate}}
                @onSelect={{this.addSlide}} />
        </popup.Modal>
    </Popup>
</section>

{{outlet}}