.background-position-picker {
    display: grid;
    grid-gap: var(--gap);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;

    background-image: repeating-linear-gradient(black, black 2px, transparent 2px, transparent),
                      repeating-linear-gradient(black, black 2px, transparent 2px, transparent),
                      repeating-linear-gradient(90deg, black, black 2px, transparent 2px, transparent),
                      repeating-linear-gradient(90deg, black, black 2px, transparent 2px, transparent);

    background-size: 1px 6px,
                     1px 6px,
                     6px 1px,
                     6px 1px;
    background-position: 33.3% top,
                         66.6% top,
                         left 33.3%,
                         left 66.6%;
    background-repeat: repeat-y,
                       repeat-y,
                       repeat-x,
                       repeat-x;

    label {
        height: 22px;
        justify-self: stretch;
        text-align: center;
        line-height: 22px;
        cursor: pointer;
    }

    input {
        opacity: 0.1;

        &:checked {
            opacity: 1;
        }
    }
}