.picker {
    --cell-size: 40px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cell-size), 1fr));
    grid-gap: var(--gap);
    padding: 2px;
    box-sizing: border-box;
    grid-auto-rows: var(--cell-size);
    max-height: 500px;
    overflow: auto;
    min-height: calc(var(--cell-size) * 2 + var(--gap));

    &__title {
        display: flex;

        .svg-icon {
            margin: 0 8px;
        }

        button {
            cursor: pointer;
            padding: 0;
            margin: 0 5px;
            font-weight: inherit;
        }
    }

    .item {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            stroke-width: 1;
        }

        &.selected{
            box-shadow: 0 0 1px 2px #000;
        }
    }

    .name {
        display: block;
        height: 1px;
        width: 1px;
        @include hide-text;
    }

    input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.text-align-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;


    label {
        cursor: pointer;

        &.selected {
            color: deepskyblue;
        }
    }

    input {
        opacity: 0;
        height: 1px;
        width: 1px;
    }
}