.giphy-picker-wrapper {
    .giphy-picker {
        --cell-size: 120px;

        .item {
            border-radius: 0;

            &.selected {
                box-shadow: 0 0 0px 2px #000;
            }
        }

        label {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .search {
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 var(--gap) 0;
    }
}