.pattern-picker-wrapper {
    .picker__option {
        display: flex;
        align-items: center;
        margin: var(--gap) 0;

        h4 {
            margin-right: var(--gap);
        }
    }
}

.pattern-picker {
    --cell-size: 120px;

    .item.paaattern {
        background-size: cover;
    }
}
