.slides-picker {
    --cell-size: 200px;

    .picker__title {
        display: flex;
        font-size: 13px;
    }

    .project {
        margin-bottom: calc(var(--gap) * 3);

        &:last-child {
            margin-bottom: var(--gap);
        }
    }

    .slides-wrapper {
        display: grid;
        padding: 1px;
        margin: 0;

        grid-auto-columns: calc(var(--cell-size) * 1.5);
        grid-template-rows: var(--cell-size);
        grid-auto-flow: column;
        grid-gap: var(--gap);

        max-width: 100%;
        overflow: auto;


        &.templates {
            grid-template-columns: repeat(auto-fit, minmax(50%, calc(var(--cell-size) * 1.5)));
            grid-gap: calc(var(--gap) * 2);
            grid-auto-rows: var(--cell-size);
            grid-auto-flow: initial;
        }
    }

    .preview-slide {
        width: 250%;
        height: 250%;
        transform: scale(0.4);
        transform-origin: left top;
        user-select: none;
        pointer-events: none;
    }

    .item {
        overflow: hidden;
        border: 1px solid black;
        position: relative;

        .delete-template {
            position: absolute;
            top: var(--gap);
            left: var(--gap);
            color: #fff;
            background-color: red;
            height: calc(var(--gap) * 3);
            width: calc(var(--gap) * 3);
            border-radius: calc(var(--gap) * 3);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
        }

        &.slide {
            width: 250%;
            height: 250%;
            transform: scale(0.4);
            transform-origin: left top;
        }
    }
}