<div class="picker__option" {{did-insert this.initPicker}}>
    <h4>
        Fill color
    </h4>
        <Popup class='x-left y-bottom' as |popup|>
            <popup.Trigger title="{{t 'settings.background.color'}}">
                <div
                    style={{{safe (concat 'background-color:' this.fillColor)}}}
                    class="presenter-button color-presenter"></div>
            </popup.Trigger>
            <popup.Content>
                <Picker::ColorMini
                    @onChange={{this.changeColor}} />
            </popup.Content>
        </Popup>

</div>

<div class="picker pattern-picker">
    <label
        class="item item-disable {{if (eq (get @data @name) '') 'selected'}}"
        for="pattern-{{@data.id}}-null"
        style={{{safe "background-image: none"}}}>
        <span class="name">
            none
        </span>
        <SvgIcon @name='x' @size="40" />

        <input
            id="pattern-{{@data.id}}-null"
            type="radio"
            name={{@name}}
            value=''
            checked={{eq (get @data @name) ''}} />
    </label>

    {{#each-in this.patterns as |key value|}}
        <label
            class="item {{if (eq (get (get @data @name) 'key') key) 'selected'}}"
            for="pattern-{{key}}-{{@data.id}}"
            style={{{safe "background-image:" value}}}>
            <span class="name">
                {{key}}
            </span>
            <input
                id="pattern-{{key}}-{{@data.id}}"
                type="radio"
                onChange={{fn this.handleChange key value}}
                checked={{eq (get (get @data @name) 'key') key}} />
        </label>
    {{/each-in}}
    {{yield}}
</div>