<div class="picker pattern-picker">
    <label
        class="item item-disable {{if (eq (get @data @name) '') 'selected'}}"
        for="pattern-{{@data.id}}-null"
        style={{{safe "background-image: none"}}}>
        <span class="name">
            none
        </span>
        <SvgIcon @name='x' @size="40" />

        <input
            id="pattern-{{@data.id}}-null"
            type="radio"
            name={{@name}}
            value=''
            checked={{eq (get @data @name) ''}} />
    </label>

    {{#each-in this.variants as |key value|}}
        <label
            class="item paaattern {{if (eq (get (get @data @name) 'key') key) 'selected'}}"
            for="pattern-{{key}}-{{@data.id}}"
            style={{{safe "background-image:" value}}}>
            <span class="name">
                {{key}}
            </span>
            <input
                id="pattern-{{key}}-{{@data.id}}"
                type="radio"
                onChange={{fn this.handleChange key value}}
                checked={{eq (get (get @data @name) 'key') key}} />
        </label>
    {{/each-in}}
    {{yield}}
</div>