<div class="projects-list-page">
    <div class="auth-links-wrapper">
        {{#if this.isAuthenticated}}
            <LinkTo @route='logout' title="{{t 'nav.logout'}}">
                <SvgIcon @name="log-out" @size="14" />
            </LinkTo>
        {{else}}
            <LinkTo @route='login' title="{{t 'nav.login'}}">
                <SvgIcon @name="key" @size="14" />
            </LinkTo>
        {{/if}}
    </div>

    <h1 class="title">
        <span class="text">
            {{t 'project.index.title'}}
        </span>

        {{#if this.isAuthenticated}}
            <button {{on 'click' this.createProject}} title="{{t 'global.add'}}">
                <SvgIcon @name="plus-circle" @size="22" />
            </button>
        {{/if}}
    </h1>


    <div class="projects-list">
        {{#each this.model as |project|}}
            <div class="item">
                {{#if project.slides.firstObject}}
                <LinkTo @route="index.project.show" @model={{project}} title="{{project.title}}" class="preview-link">
                    <Slide @data={{project.slides.firstObject}} class="preview-slide" />
                </LinkTo>
                {{/if}}

                {{#if (eq project._uid this.me.model._uid)}}
                    <LinkTo
                        @route="index.project.update"
                        @model={{project}}
                        title="{{t 'project.index.edit'}}"
                        class="edit-project">
                        <SvgIcon @name="edit" @size="14" />
                    </LinkTo>
                    <button
                        {{on 'click' (fn this.deleteProject project)}}
                        title="{{t 'global.delete'}}"
                        class="delete-project">
                        <SvgIcon @name="trash-2" @size="14" />
                    </button>
                {{/if}}
            </div>
        {{else}}
            <div class="item empty">
                {{if this.isAuthenticated (t 'project.index.empty') (t 'project.index.empty-should-login')}}
            </div>
        {{/each}}
    </div>

    {{outlet}}
</div>