<div class="background-position-picker">
    {{#each this.points as |pointRow|}}
        {{#each pointRow as |point|}}
            <label class="{{point}}" title={{point}}>
                <input
                    type="radio"
                    name={{@name}}
                    value={{point}}
                    checked={{eq (get @data @name) point}} />
            </label>
        {{/each}}
    {{/each}}

    {{yield}}
</div>