<div class="picker color-mini-picker">
    {{#each this.palette as |color|}}
        <label
            class="item {{if (eq (get @data @name) color) 'selected'}}"
        >
            <input
                {{on 'change' this.onChange}}
                type="radio"
                name="{{@name}}"
                value={{color}}
                checked={{eq (get @data @name) color}} />
                <div class="color-item" style={{{safe (concat 'background-color:' color)}}} title={{color}}></div>
        </label>
    {{/each}}
</div>
{{yield}}