<div class="coverr-picker-wrapper">
    {{#if this.showLoader}}
        <Loader />
    {{/if}}
    <h3 class="picker__title">
        {{t 'coverr.title'}}
    </h3>

    <input class="search" {{on 'input' this.performSearch}} value={{this.search}} placeholder="{{t 'coverr.search.placeholder'}}" />

    <div class="picker coverr-picker" {{did-insert this.getRandomVideos}}>
        {{#each this.videos as |video|}}
            <label
                class="item {{if (eq (get (get @data @name) 'id') video.id) 'selected'}}"
                for="coverr-{{video.id}}-{{@data.id}}">

                <img src={{video.poster}} />

                <span class="name">
                    {{video.title}}
                </span>

                <input
                    {{on 'change' this.handleSelect}}
                    id="coverr-{{video.id}}-{{@data.id}}"
                    type="radio"
                    name={{@name}}
                    value="{{video.id}}"
                    checked={{eq (get (get @data @name) 'id') video.id}} />
            </label>
        {{else}}
            {{#unless this.showLoader}}
                {{t 'global.empty'}}
            {{/unless}}
        {{/each}}
        {{yield}}
    </div>
</div>