<select name={{@name}}>
    {{#each this.fonts as |font|}}
        <option
            value="{{font}}"
            style={{{safe "font-family:" font}}}
            selected={{eq font (get @data @name)}}>
            {{font}}
        </option>
    {{/each}}
</select>
{{yield}}