<select name={{@name}}>
    {{#each this.sizes as |size|}}
        <option
            value="{{size}}"
            style={{{safe "font-size:" size}}}
            selected={{eq size (get @data @name)}}>
            {{size}}
        </option>
    {{/each}}
</select>
{{yield}}