<div class="giphy-picker-wrapper">
    {{#if this.showLoader}}
        <Loader />
    {{/if}}

    <Tabs as |tabs|>
        <h3 class="picker__title">
            <span class="picker__title-text">
                {{t 'giphy.title'}}
            </span>

            <SvgIcon @name="arrow-right" @size="12" />

            <tabs.Title>
                {{t 'giphy.stickers'}}
            </tabs.Title>
            <tabs.Title>
                {{t 'giphy.gifs'}}
            </tabs.Title>
        </h3>

        <input
            class="search"
            {{on 'input' this.performSearch}}
            value={{this.search}}
            placeholder="{{t (concat 'giphy.search.' this.activeGiphyType '.placeholder')}}" />

        <tabs.Content>
            <IntersectionObserver @onVisible={{fn this.loadMore 'stickers'}} as |io|>
                <io.wrapper>
                    <div
                        class="picker giphy-picker giphy-picker--stickers"
                        {{did-insert (fn this.setGiphyType 'sticker')}}
                        {{did-insert this.getStickersList}}>

                        {{#each this.images as |image|}}
                            <label
                                class="item {{if (eq (get (get @data @name) 'id') image.id) 'selected'}}"
                                for="giphy-{{image.id}}-{{@data.id}}">

                                <img src={{image.images.preview_gif.url}} alt="{{image.title}}" />

                                <input
                                    {{on 'change' this.handleSelect}}
                                    id="giphy-{{image.id}}-{{@data.id}}"
                                    type="radio"
                                    name={{@name}}
                                    value="{{image.id}}"
                                    checked={{eq (get (get @data @name) 'id') image.id}} />
                            </label>
                        {{else}}
                            {{#unless this.showLoader}}
                                {{t 'global.empty'}}
                            {{/unless}}
                        {{/each}}
                        {{#unless this.showLoader}}
                            <io.trigger />
                        {{/unless}}
                    </div>
                </io.wrapper>
            </IntersectionObserver>
        </tabs.Content>
        <tabs.Content>
            <IntersectionObserver @onVisible={{fn this.loadMore 'gifs'}} as |io|>
                <io.wrapper>
                    <div
                        class="picker giphy-picker giphy-picker--gifs"
                        {{did-insert (fn this.setGiphyType 'gif')}}
                        {{did-insert this.getGifsList}}>

                        {{#each this.images as |image|}}
                            <label
                                class="item {{if (eq (get (get @data @name) 'id') image.id) 'selected'}}"
                                for="giphy-{{image.id}}-{{@data.id}}">

                                <img src={{image.images.preview_gif.url}} alt="{{image.title}}" />

                                <input
                                    {{on 'change' this.handleSelect}}
                                    id="giphy-{{image.id}}-{{@data.id}}"
                                    type="radio"
                                    name={{@name}}
                                    value="{{image.id}}"
                                    checked={{eq (get (get @data @name) 'id') image.id}} />
                            </label>
                        {{else}}
                            {{#unless this.showLoader}}
                                {{t 'global.empty'}}
                            {{/unless}}
                        {{/each}}
                        {{#unless this.showLoader}}
                            <io.trigger />
                        {{/unless}}
                    </div>
                </io.wrapper>
            </IntersectionObserver>
        </tabs.Content>
    </Tabs>

    {{yield}}
</div>