<div class="gradient-picker-wrapper">
    <h3 class="picker__title">
        {{t 'settings.background.gradient'}}
    </h3>

    <div class="picker gradient-picker">
        <label
            class="item item-disable {{if (eq (get @data @name) '') 'selected'}}"
            for="gradient-{{@data.id}}-null"
            style={{{safe "background-image: none"}}}>
            <span class="name">
                none
            </span>
            <SvgIcon @name='x' @size="40" />

            <input
                id="gradient-{{@data.id}}-null"
                type="radio"
                name={{@name}}
                value=''
                checked={{eq (get @data @name) ''}} />
        </label>
        {{#each-in this.gradients as |key gradient|}}
            <label
                class="item {{if (eq (get (get @data @name) 'key') key) 'selected'}}"
                for="gradient-{{key}}-{{@data.id}}"
                style={{{safe "background-image:" gradient}}}>
                <span class="name">
                    {{key}}
                </span>
                <input
                    {{on 'change' (fn this.handleSelect key gradient)}}
                    id="gradient-{{key}}-{{@data.id}}"
                    type="radio"
                    checked={{eq (get (get @data @name) 'key') key}} />
            </label>
        {{/each-in}}
        {{yield}}
    </div>
</div>