<div class="object-fit-picker">
    <select name={{@name}}>
        {{#each this.variants as |variant|}}
            <option
                value={{variant}}
                selected={{eq (get @data @name) variant}}>
                {{t (concat 'object-fit.' variant)}}
            </option>
        {{/each}}
    </select>
</div>

{{yield}}