<div class="pattern-picker-wrapper">

    <Tabs as |tabs|>
        <h3 class="picker__title">
            <span class="picker__title-text">
                {{t 'settings.background.pattern.title'}}
            </span>

            <SvgIcon @name="arrow-right" @size="12" />

            <tabs.Title>
                {{t 'settings.background.pattern.hero-patterns'}}
            </tabs.Title>

            <tabs.Title>
                {{t 'settings.background.pattern.paaatterns'}}
            </tabs.Title>
        </h3>

    <tabs.Content>
        <Picker::Pattern::HeroPattern
            @contentEl={{@contentEl}}
            @name={{@name}}
            @data={{@data}} />
    </tabs.Content>
    <tabs.Content>
        <Picker::Pattern::Paaatterns
            @contentEl={{@contentEl}}
            @name={{@name}}
            @data={{@data}} />
    </tabs.Content>

    </Tabs>
</div>