<div class="slides-picker" {{did-insert this.initPicker}}>
    <Tabs as |tabs|>
        <h3 class="picker__title">
            <tabs.Title>
                {{t 'add-slide.templates.title'}}
            </tabs.Title>
            <tabs.Title>
                {{t 'add-slide.projects.title'}}
            </tabs.Title>
        </h3>

        <tabs.Content>
            <div class="slides-wrapper templates">
            {{#each this.templates as |template|}}
                <div class="item">
                    <a {{on 'click' (fn this.onSelect template)}} class="link">
                        <Slide @data={{template}} class="preview-slide" />
                    </a>
                </div>
                {{else}}
                    {{t 'global.empty'}}
                {{/each}}
            </div>
        </tabs.Content>

        <tabs.Content>
            {{#each this.projects as |project|}}
                <div class="project">
                    <h3 class="project-title">
                        {{project.title}}
                    </h3>
                    <div class="slides-wrapper">
                        {{#each project.slides as |slide|}}
                            <div class="item">
                                <a {{on 'click' (fn this.onSelect slide)}} class="link">
                                    <Slide @data={{slide}} class="preview-slide" />
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{else}}
                {{t 'global.empty'}}
            {{/each}}
        </tabs.Content>
    </Tabs>
</div>

{{yield}}