<div class="text-align-picker">
{{#each this.textAlignVariants as |textAlignVariant|}}
    <label
        title="{{t (concat 'text-block.settings.align.' textAlignVariant)}}"
        class={{if (eq (get @data @name) textAlignVariant) "selected"}}
    >
        <input
            type="radio"
            name="{{@name}}"
            value={{textAlignVariant}}
            checked={{eq (get @data @name) textAlignVariant}} /><SvgIcon @name="{{concat 'align-' textAlignVariant}}" @size="18"/>
    </label>
{{/each}}

{{yield}}
</div>