<select name={{@name}}>
    {{#each this.variants as |variant|}}
        <option
            selected={{eq (get @data @name) variant}}
            value={{variant}}>
            {{t (concat 'text-block.settings.text-orientation.' variant)}}
        </option>
    {{/each}}
</select>

{{yield}}