<div class="unsplash-picker-wrapper">
    {{#if this.photosAreLoading}}
        <Loader />
    {{/if}}
    <h3 class="picker__title">
        {{t 'unsplash.title'}}
    </h3>

    <input class="search" {{on 'input' this.performSearch}} value={{this.search}} placeholder="{{t 'unsplash.search.placeholder'}}" />

    <IntersectionObserver @onVisible={{this.nextPage}} as |io|>
        <io.wrapper>
            <div class="picker unsplash-picker" {{did-insert this.getList}}>
                {{#if this.photos.length}}
                    <label
                        class="item item-disable {{if (eq (get @data @name) '') 'selected'}}"
                        for="unsplash-{{@data.id}}-null"
                        style={{{safe "background-image: none"}}}>
                        <span class="name">
                            none
                        </span>
                        <SvgIcon @name='x' @size="40" />

                        <input
                            id="unsplash-{{@data.id}}-null"
                            type="radio"
                            name={{@name}}
                            value=''
                            checked={{eq (get @data @name) ''}} />
                    </label>
                {{/if}}
                {{#each this.photos as |photo|}}
                    <label
                        class="item {{if (eq (get (get @data @name) 'id') photo.id) 'selected'}}"
                        for="unsplash-{{photo.id}}-{{@data.id}}">

                        <img src={{photo.urls.thumb}} alt="{{photo.alt_description}}" />

                        <input
                            {{on 'change' this.handleSelect}}
                            id="unsplash-{{photo.id}}-{{@data.id}}"
                            type="radio"
                            name={{@name}}
                            value="{{photo.id}}"
                            checked={{eq (get (get @data @name) 'id') photo.id}} />
                    </label>
                {{else}}
                    {{#unless this.photosAreLoading}}
                        {{t 'global.empty'}}
                    {{/unless}}
                {{/each}}
                {{yield}}
                {{#unless this.photosAreLoading}}
                    <io.trigger />
                {{/unless}}
            </div>
        </io.wrapper>
    </IntersectionObserver>
</div>