<select name={{@name}}>
    {{#each this.verticalAlignVariants as |verticalAlignVariant|}}
        <option
            selected={{eq (get @data @name) verticalAlignVariant}}
            value={{verticalAlignVariant}}>
            {{t (concat 'text-block.settings.align-items.' verticalAlignVariant)}}
        </option>
    {{/each}}
</select>

{{yield}}