<div
    style={{this.styles}}
    class="auth-wrapper"
    {{did-insert this.fetchBackgrounds}}>
    <div class="auth-center-wrapper">
    {{#if this.model.errors}}
        <ul class="form-errors">
            {{#each this.model.errors as |error|}}
                <li>
                    <span class="attribute">
                        {{error.attribute}}
                    </span>
                    <span class="message">

                    </span>{{error.message}}
                </li>

            {{/each}}
        </ul>
    {{/if}}

    <form
        {{on 'input' this.updateModelValue}}
        {{on 'submit' this.submit}}>
        <div class="line">
            <label for="username">
                {{t 'form.label.username'}}
            </label>
            <input type="text" name="username" id="username" value={{this.model.username}} />
        </div>

        <div class="line">
            <label for="password">
                {{t 'form.label.password'}}
            </label>
            <input type="password" name="password" id="password" value={{this.model.password}} />
        </div>

        <div>
            <button type="submit" class="submit">
                {{t 'global.submit'}}
            </button>
        </div>
    </form>

    <div class="register-invitation">
        {{t 'login.link-to-register'}}
        <LinkTo @route="register">
            {{t 'nav.register'}}
        </LinkTo>
    </div>

    {{outlet}}
    </div>
</div>